.content {
  min-height: calc(100vh - 218px);
  box-shadow: 0px 2px 5px var(--color-primary);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: calc(100vh - 218px);
}
