.chip {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Rubik';
  text-transform: capitalize;
  gap: 13px;
}

.chip-small {
  width: 116px;
  height: 45px;
}

.chip-medium {
  width: 123px;
  height: 40px;
}

.chip-endAdornments {
  font-weight: 500;
  line-height: calc(17 / 14);
  color: var(--color-tertiary-100);
  background: var(--color-tertiary-200);
}

.chip-startAdornments {
  background: var(--color-secondary-100);
  color: var(--color-secondary-600);
  font-weight: 400;
  line-height: 20.3;
}
