.dropdown {
  padding: 20px 20px 24px;
  box-shadow: 0px 2px 5px var(--color-primary);
  border-radius: 10px;
}

.dropdown h2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  line-height: calc(32 / 25);
  color: var(--color-primary);
}

.dropdown-menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
