.overlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.filter-modal {
  position: absolute;
  left: 78.5%;
  top: 26%;
  transform: translate(-51%, -49%);
  width: 268px;
  height: 331px;
  background: var(--color-secondary);
  box-shadow: 0px 1px 4px #0000001a;
  border-radius: 5px;
  padding: 29px 21px;
}

.filter-modal::before {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: #ffff;
  position: absolute;
  top: 0;
  right: 60px;
  transform: translate(50%, -50%) rotate(45deg);
}

.options {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 14px;
  line-height: 2.3;
}

.btn-wrapper {
  display: flex;
  gap: 9px;
  margin-top: 5px;
}

.active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-secondary-100);
  border: none;
}

.optional-layout p {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 11px;
  line-height: 2.3;
  margin-left: 8px;
}

.sort {
  margin-top: 15px;
}

.active-sort {
  width: 100%;
  background-color: var(--color-secondary-100);
  color: #0d75ff;
}

.active-sort svg {
  transform: rotate(180deg);
}
