.main-content {
  flex: 1;
  box-shadow: 0px 2px 10px var(--color-primary-250);
  border-radius: 6px;
  max-height: 1000px;
  overflow: auto;
}

.page-wrapper {
  display: flex;
  gap: 20px;
  justify-content: end;
  padding: 24px;
}

.content {
  min-height: calc(100vh - 218px);
  box-shadow: 0px 2px 10px var(--color-primary-250);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
