.books {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding: 33px 38px;
  background: var(--main-content);
  margin: 1px 1px;
  flex: 1;
  max-height: calc(100vh - 79px - 84px);
  overflow: auto;
}

/* style list view */

.list {
  display: inline-block;
}

.list .card-item {
  width: 908px;
  height: 213px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 21px;
}

.list .card-image-wrapper {
  margin: 13px 18px;
  padding: 16px 20px;
  width: 396px;
  height: 178px;
}

.list .avatar-small {
  width: 353px;
  height: 144px;
}

.list .card-title {
  line-height: calc(43 / 36);
  font-size: 36px;
}

.list .card-info {
  line-height: calc(25 / 18);
  font-size: 18px;
}
