.main-content {
  flex: 1;
  box-shadow: 0px 2px 5px var(--color-primary);
  border-radius: 5px;
  max-height: 1000px;
  overflow: auto;
}

.page-wrapper {
  display: flex;
  gap: 20px;
  justify-content: end;
  padding: 24px;
}
