.overlays {
  background-color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dialog {
  position: absolute;
  width: 158px;
  height: 96px;
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 3px 0px var(--color-primary-50);
  border-radius: 6px;
  justify-content: center;
  text-align: left;
  z-index: 1;
}

.dialog button {
  line-height: calc(20 / 14);
  margin-top: 10px;
  margin-left: 13px;
}

.modal-backdrop {
  background: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
