.btn {
  border-radius: 5px;
  font-family: 'Inter';
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: var(--color-secondary-100);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.btn-secondary {
  background-color: var(--color-secondary-200);
  color: var(--color-secondary);
}

.btn-tertiary {
  background-color: var(--color-tertiary);
}

.btn-normal {
  background-color: var(--color-secondary);
  color: var(--color-primary-50);
}

.btn-small {
  padding: 2px 10px;
  font-size: var(--fs-small);
}

.btn-medium {
  padding: 7px 22px;
  font-size: var(--fs-medium);
  line-height: calc(24 / 14);
}

.btn-large {
  padding: 10px 20px;
  font-size: var(--fs-large);
}
