.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background: transparent;
}

.btn-secondary {
  background-color: var(--color-secondary-300);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.btn-danger {
  background-color: var(--color-red);
  color: var(--color-secondary);
}

.btn-small {
  font-size: var(--fs-small);
}

.btn-medium {
  width: 45px;
  height: 26px;
  padding: 5px 10px;
  font-size: 12px;
}

.btn-large {
  width: 77px;
  height: 34px;
  padding: 5px 10px;
  font-size: var(--fs-large);
}

.btn-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #e3e6eb;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
}
