.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background: var(--color-tertiary-100);
  color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary-300);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.btn-danger {
  background-color: var(--color-red);
  color: var(--color-secondary);
}

.btn-outlined {
  background: transparent;
}

.btn-small {
  font-size: var(--fs-small);
  width: 10px;
}

.btn-medium {
  width: 45px;
  height: 26px;
  padding: 5px 2px 1px 5px;
  font-size: 12px;
}

.btn-large {
  padding: 10px 20px;
  font-size: var(--fs-large);
}
