.table-body tr {
  border: 1px solid var(--color-primary-200);
}

.table-body td {
  text-align: left;
  font-family: 'Roboto';
  color: var(--color-primary-50);
  padding: 13px 8px;
}

.table-body td:first-child {
  text-align: center;
  padding-right: 30px;
}

.table-body td:last-child {
  text-align: center;
}

.table-body td:nth-child(3) {
  color: var(--color-primary);
}

.table-body td p {
  line-height: 1.75;
}
