.dark-theme {
  --main-heading: #1e1e2fba;
  --text-color: #ffff;
  --total-text-color: #ffff;
  --categories-text: #ffff;
  --main-content: #1e1e2fba;
}

.light-theme {
  --main-heading: #ffff;
  --text-color: #000000;
  --main-content: var(--color-secondary-100);
  --categories-text: #222531;
  --total-text-color: #58667e;
}
