.footer {
  padding: 16px;
}
.about-web {
  display: flex;
  justify-content: space-between;
  line-height: calc(24 / 16);
}

.web-info {
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-primary-50);
}

.heart {
  color: var(--color-danger);
}

.web-info a {
  text-decoration: none;
  color: var(--color-secondary-100);
}

.contact-web a {
  text-decoration: none;
  font-family: 'Inter';
  color: var(--color-secondary-100);
}
