.search {
  position: relative;
}

.text-field {
  width: 314px;
  height: 40px;
  border: 1px solid rgba(58, 53, 65, 0.23);
  border-radius: 6px;
  padding: 10px;
}

.search-btn {
  border: none;
  background-color: #ffff;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 1;
  font-size: 16px;
  color: var(--color-primary-50);
}
