@font-face {
  font-family: 'DM_Sans';
  src: url(../../fonts/DM_Sans/DMSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'DM_Sans';
  src: url(../../fonts/DM_Sans/DMSans-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto_Sans';
  src: url(../../fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto_Sans';
  src: url(../../fonts/Noto_Sans/NotoSans-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url(../../fonts/Rubik/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url(../../fonts/Rubik/Rubik-Medium.ttf);
  font-weight: 500;
}

:root {
  font-size: 16px;
}
