:root {
  /* color */
  --color-primary: #3a3541ad;
  --color-primary-50: #3a3541de;
  --color-primary-100: #3a354161;
  --color-primary-200: #3a35411f;
  --color-primary-250: #3a35411a;
  --color-primary-300: #3a35413b;
  --color-secondary: #ffff;
  --color-secondary-50: #f9fafc;
  --color-secondary-200: #be9870;
  --color-secondary-100: #2684ff;
  --color-secondary-100-bg: #26dbff12;
  --color-tertiary: #4caf50;
  --color-tertiary-bg: #4caf500d;
  --color-tertiary-100: #ed6c02;
  --color-tertiary-bg-100: #ed6c0224;
  --color-danger: #ff4c51;

  /* Font size */
  --fs-small: 12px;
  --fs-medium: 14px;
  --fs-large: 20px;
}
