.header {
  padding: 12px 35px 14px 45px;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.action-wrapper {
  display: flex;
  gap: 56px;
  align-items: center;
}
